@import "tailwindcss";

:root {
  /*base*/
  --color-bg: #F8FAFC;
  --color-surface: #FFFFFF;
  --color-border: #E2E8F0;

  /*texto*/
  --color-text: #0F172A;
  --color-text-muted: #64748B;

  /*para acciones*/
  --color-primary: #2563EB;
  --color-primary-soft: #DBEAFE;

  --color-secondary: #0F766E;
  --color-secondary-soft: #CCFBF1;

  /*para resaltar*/
  --color-accent: #F59E0B;
  --color-accent-soft: #FEF3C7;

  /*para los estados*/
  --color-success: #16A34A;
  --color-warning: #D97706;
  --color-error: #DC2626;
  --color-info: #0EA5E9;
}
